<div class="container">
  <div class="intro">
    <h1>Découvrez tous nos cocktails</h1>
  </div>

  <div class="row">

    <% @cocktails.each do |cocktail| %>
      <div class="col-xs-12 col-sm-4 ">
        <% if cocktail.photo.nil? %>
            <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
                               url(<%= image_path 'cocktails.jpg'%>)">
        <%else%>
            <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
         url('<%= cl_image_path cocktail.photo.path, height: 300, width: 400, crop: :fill %>')">
          <%end%>
          <div class="card-category">
            <%= cocktail.name %>
          </div>
          <div class="card-user">
            <%= link_to 'Voir le détail', cocktail_path(cocktail) %>
          </div>
        </div>
      </div>
    <% end %>

    <div class="col-xs-12 col-sm-4 lasttoadd">

    <b><%= link_to 'Ajoutez un cocktail', new_cocktail_path %></b>

    </div>
  </div>

